*  {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

img {
    border-radius: 15px;
}

button {
    border-radius: 10px;
    width: 15vw;
    height: 5vh;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: aquamarine;
    box-shadow: 0 0 10px gray;
}

.botoes-like-dislike {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}